@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
}

.container{
    width: 350px;
   
    margin: 50px auto;
    border-radius: 10px;
  overflow: hidden;
}

header img{
    max-width: 100%;
}

main {
    background-color: hsl(225, 100%, 98%);
}

main h1{
    text-align: center;
    padding: 25px 20px 15px;
    font-family: 'Red Hat Display', sans-serif;
    color: rgb(44, 44, 44);
    font-weight: 900;
}

main p{
    text-align: center;
    font-size: 12px;
    font-family: 'Red Hat Display', sans-serif;
    margin: 0 40px 5px;
    color: gray;
}

main .pricing{
    display: flex;
    margin: 5px 30px;
    background-color: rgba(233, 238, 241, 0.5);
    padding: 20px 10px;
    justify-content: space-between;
    border-radius: 10px;
}
main .pricing img{
    width: 35px;
    height: 35px;
}

main .pricing p{
    display:inline-block;
  align-self: center;
  justify-content: flex-end;
  margin-right: 0;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  transition: 0.3s;
}

main .pricing p:hover{
    text-decoration: none;
    color: gray;
}

main .pricing div{
    padding-right: 25px ;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 12px;
    font-weight: 700;
}

main .pricing div span{
    color: gray;
}

main .payment{
    display: block;
    text-align: center;
    margin: 10px auto;
    width: 80%;
    padding: 10px 0;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 12px;
    background: hsl(245, 75%, 52%) ;
    color: white;
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
    box-shadow: -2px 11px 16px -2px rgba(0,0,0,0.5);
-webkit-box-shadow: -2px 11px 16px -2px rgba(0,0,0,0.5);
-moz-box-shadow: -2px 11px 16px -2px rgba(0,0,0,0.5);
  transition: 0.3s;

}

main .payment:hover{
     background: hsl(223, 47%, 23%) ;
    color: white;
}


main .order{
      display: block;
    text-align: center;
    margin: 0px auto;
    border-style: none;
    padding: 10px 0 30px;
    background: transparent;
     font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: gray;
    cursor: pointer;
      transition: 0.3s;

}

main .order:hover{
    color: hsl(223, 47%, 23%);
}